<div class="row">
  <div class="col-sm-6">
    <%= list_item_authorized_attribute "Contributor", resource.contributor.person %>
    <%= list_item_authorized_list resource.assays, t('assays.assay').pluralize %>
  </div>

  <div class="col-sm-6 hidden-xs">

  </div>
</div>