.openbis-sample .openbis-metadata {
    display: inline-block;
    width: 45%;
}

.openbis-metadata {
    margin-bottom: 0.5em;
    margin-right: 0.75em;
}

.openbis-resync-button {

}

.openbis-sample-body {
    display: none;
    padding: 10px;
    margin-bottom: 20px
}

.openbis-sample-title {
    background: #f3f3f3;
    padding: 10px;
}
.openbis-sample {
    margin: 10px 0;
    border-radius: 3px;
}

.openbis-sample-title a {
    cursor: pointer;
}

.panel .openbis-info {
    width: 90%;
    background-color: blue;
}