<%= panel("Datasets", :class => 'openbis-dataset') do %>
    <table class="table table-bordered table-striped">
      <thead>
      <th></th>
      <th>Code</th>
      <th>Metadata</th>
      <th>Dataset type</th>
      <th>Created</th>
      <th>Last modified</th>
      <th>PermId</th>
      </thead>
      <tbody>
      <% datasets.each do |dataset| %>
          <%= render :partial=>"openbis/dataset",:object=>dataset %>
      <% end %>
      </tbody>
    </table>
<% end %>