<h1>Samples</h1>
<!--<thead>-->
<!--<th></th>-->
<!--<th>ID</th>-->
<!--<th>Metadata</th>-->
<!--<th>Sample type</th>-->
<!--<th>Datasets</th>-->
<!--<th>Created</th>-->
<!--<th>Last modified</th>-->
<!--<th>PermId</th>-->
<!--</thead>-->

<% samples.each do |sample| %>
    <%= render :partial=>"openbis/sample",:object=>sample %>
<% end %>
